.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.main-text {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

.main-child {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(161, 170, 173);
	width: 90%;
	border: 1px solid green;
}
